<ion-header>
  <ion-navbar>
    <ion-title>Stations</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="list-avatar-page">

<ion-searchbar>
aaaa
</ion-searchbar>


  <ion-list>



  <ion-item *ngFor="let station of stations; ">
      <ion-avatar item-left>
        <img src="assets/img/map.png">
      </ion-avatar>
      <h2>{{station.name}}</h2>
      <p>{{station.town_name}}</p>
      <ion-note item-right><ion-icon name="bicycle"></ion-icon> {{station.bikes}}  • <ion-icon name="flag"></ion-icon> {{station.attachs}}
      
      <span *ngIf="station.pay == 1">
      • <ion-icon name="card"></ion-icon>
      </span>
      </ion-note>

    </ion-item>

     </ion-list>

</ion-content>

